.white-screen {
  margin: auto;
  width: 100%;
  max-width: 62.5rem;
  min-width: 27.1875rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding-bottom: 2.5rem;
}
