* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --color-primary-100: #f8f0fb;
  --color-primary-300: #f1ecce;
  --color-primary-600: #f7717d;
  --color-primary-800: #3772ff;
  --color-primary-900: #463730;
  --color-neutral-300: #829399;
  --color-neutral-600: #545f66;
  --color-neutral-100: #fefcfd;
  --font-button: M PLUS Code Latin;
  --font-text: Poppins;

  font-family: var(--font-text), monospace;
}
